@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

:root {
    --dourado: #e09e47;
}

@media (min-width: 270px) and (max-width: 980px){

  header{
    width: 100%;
    height: 60px;

    position: relative;

    background: #0f0f0f;
    
    z-index: 2;
  }

  header::before{
    content: '';

    width: 100%;
    height: 60px;

    box-shadow: 0 0 2px 2px #0f0f0f;

    position: absolute;

    z-index: 1;
  }

  #header--container{
    max-width: 900px;
    height: 100%;

    position: relative;

    margin: 0 auto;
    background-color: #0f0f0f;

    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
  }

  #logo,#header--container img{
    height: 100%;
  }

  #header--container #menu{
    height: auto;
    width: 100%;
    position: absolute;
    top: 60px;

    border-bottom: 1px solid var(--dourado);
    background-color: #0f0f0f;
    overflow-y: hidden;

    display: none;
    flex-direction: column;
    align-items: center;
  }

  #button--menu{
    background-color: #0f0f0f;
    display: flex;
  }

  #button--menu i{
    height: 60px;

    color: var(--dourado);
    font-size: 24px;

    margin: 0 25px;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu--itens{
    width: 50%;
    height: 60px;

    color: var(--dourado);
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;

    margin: 0 15px;
    border-bottom: 1px solid var(--dourado);
    background-color: #0f0f0f;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu--itens:nth-child(3){
    border-bottom: 0px;
  }

  #container{
    width: 100%;
    height: 100vh;
  }

  .sections{
    width: 100%;
    height: auto;

    margin: 0 auto;
  }

  .sections:nth-child(1){
    padding-top:60px;
    background-color: var(--dourado);
  }

  .sections:nth-child(2){
    margin-bottom: 50px;
  }

  .sections:nth-child(3){
    padding-top: 50px;
    background-color: var(--dourado);
  }

  .sections:nth-child(3) .sections--content{
    display: flex;
    flex-direction: column-reverse;

  }

  .sections--content{
    margin: 0 20px;
  }

  #text--convertion{
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #text--convertion h1{
    width: 15ch;

    color: white;
    font-size: 48px;
    text-align: center;
    line-height: 45px;
  }

  #text--convertion a{
    width: 210px;
    height: 60px;

    text-decoration: none;

    margin-top: 40px;
    padding-bottom: 100px;

    display: flex;
    justify-content: center;
  }

  #text--convertion a button {
    width: 200px;
    height: 50px;

    color: var(--dourado);
    font-size: 18px;
    text-decoration: none;

    border-radius: 8px;
    box-shadow: 0px 0px 20px 10px var(--dourado);
    cursor: pointer;
  }

  #galery--text h1{
    color: var(--dourado);
    text-align: center;
    line-height: 40px;
    font-size: 36px;

    margin: 60px 0;
  }

  #galery--images{
    width: 90%;
    height: auto;
    margin: 0 auto;
  }

  .swiper, .swiper-slide, .swiper--galery-imgs, .swiper-wrapper{
    width: 100%;
    height: auto;
  }

  #maps{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #maps iframe{
    border: 5px solid #fff !important;
  }

  #maps iframe:nth-child(1){
    min-width: 350px;
    width: 60%;
    display: flex;
  }

  #maps button{
  width: 200px;
  height: 50px;

  color: var(--dourado);
  font-size: 18px;

  margin: 25px 0;
  border-radius: 8px;
  background-color: #fff;
  cursor: pointer;
}

  #text--convertion--maps {
    color: #fff;
    text-align: center;
    font-size: 18px;

    margin-bottom: 25px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #text--convertion--maps h1{
    max-width: 30ch;
    padding-bottom: 25px;
  }

  #text--convertion--maps a button {
    width: 200px;
    height: 50px;

    color: var(--dourado);
    font-size: 18px;
    text-decoration: none;

    border-radius: 8px;
    box-shadow: 0px 0px 20px 10px var(--dourado);
    cursor: pointer;
  }

  #backtotop{
    position:fixed;
    right: 10px;
    bottom: 10px;
    z-index: 9999;
  }

  #backtotop button{
    width: 60px;
    height: 60px;

    border-radius: 100%;
    background-color: #0f0f0f;
    cursor: pointer;

  }

  #backtotop button i{
    color: var(--dourado);
    font-size: 20px;
  }

}
